@model code.Models.SearchModel

<div class="container i-home-form-wrap">
    <div class="form-group">
        <div class="row i-search-wrap">
            @*<div class="col-sm-1 i-col-pad i-bor-right">
                @Html.DropDownListFor(x => x.SelectedcityId, Model.cityLst, "City", new { @class = "selectpicker", title = "City" })
            </div>*@
            <div class="col-sm-2 i-col-pad i-bor-right">
                @Html.TextBoxFor(x => x.zipCode, new { @class = "form-control", placeholder = "Enter Zip Code", size = "50" })
            </div>
            <div class="col-sm-4 i-col-pad i-bor-right">
                @Html.TextBoxFor(x => x.KeyWord, new { @class = "form-control", placeholder = "Enter Your Keyword", size = "50" })
            </div>
            <div class="col-sm-2 i-col-pad i-bor-right">
                @Html.DropDownListFor(x => x.SelectedCateId, Model.CategoryLst, "Category", new { @class = "selectpicker searchCat", title = "Category" })
            </div>
            <div class="col-sm-2 i-col-pad i-bor-right">
                @Html.DropDownListFor(x => x.SelectedSubCatId, new SelectList(new List<SelectListItem>()), "Sub Category", new { @class = "selectpicker searchSubCat", @id="drdwSubCat", title = "Sub Category" })
            </div>
            <div class="col-sm-1 i-col-pad">
                @Html.DropDownListFor(x => x.SelectedPriceId, Model.PriceLst, null, new { @class = "selectpicker", title = "Price" })
            </div>
        </div>
    </div>
    @for (int i = 0; i < Model.nearbyZip.zip_codes.Count; i++)
    {
        @Html.HiddenFor(x => x.nearbyZip.zip_codes[i])
    }
</div>
